.MapView {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding-top: 1rem;
}

@media only screen and (max-width: 700px) {
    .MapView {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    }

    .filterToolbar{
        padding-top: 1rem;
    }
}
