.EventForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.formsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.submit-message-button{
    align-self: center;
}

.react-time-picker {
    background-color: white;
}