.searchbar {
    width: 32rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-multi-select {
    margin: 0 1rem;
    width: 100%;
    font-size: 0.75rem;
}

.search-parks-button {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.ShowAllButton {
    width: 8rem;
    height: 2rem;
    margin: 0 0.5rem;
    font: inherit;
    font-size: 0.8rem;
    cursor: pointer;
}
