.MarkerDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 22rem;
}

.LoadingState {
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ModalParkDetail-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ModalParkDetail-Title {
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    font-size: 1.25rem;
    width: 100%;
    padding: 0.5rem;
    background-color: #173630;
    color: white;
    margin-bottom: 1rem;
}


.Section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ParkLocationDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ParkLocationDetails > div {
    padding: 0.5rem;
}

.OtherDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.OtherDetails > div {
    padding: 0.5rem;
}

.Event {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.EventTable {
    max-height: 19rem;
    overflow: scroll
}

.FilledHeartIcon {
    position: absolute;
    align-self: flex-end;
    padding: 0.625rem;
    fill: red
}

.NotFillHeartIcon {
    position: absolute;
    align-self: flex-end;
    padding: 0.625rem;
}

#ShareCalendar * {
    list-style: none;
    margin: 0;
    text-align: initial;
    font-weight: lighter;
    text-decoration: none;
    padding: 0.1rem;
}

.ModalParkDetail-tabSelector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
}

.tab-selected {
    border-bottom: 2px solid #3b5238;
}

.ModalParkDetail-toolbar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 2.5rem;
}

.ModalParkDetail-leftToolbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 2px;
    height: 100%;
}

.ModalParkDetail-rightToolbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-right: 2.5rem;
    height: 100%;
}

.ModalParkDetail-divider {
    width: 98%;
    height: 1px;
    background-color: #bfbfbf;
}

.ModalParkDetail-Body {
    min-height: 13rem;
    padding: 2rem 2rem 2rem 5rem;
}

.existing-comment-title{
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 0.75em;
}

.ModalParkDetail-facilities-and-features {
    display: flex;
    justify-content: center;
}

.Column {
    flex: 50%;
}

.FacilitiesTable {
    display: flex;
    max-height: 19rem;
}

.FacilitiesTable ::-webkit-scrollbar-track {
    border-radius: 9.375rem;
}

.FacilitiesTable ::-webkit-scrollbar-thumb {
    background: #828282;
    border-radius: 0.25rem;
}

.FacilitiesTable ::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.FacilitiesTable {
    overflow-x: auto;
    overflow-y: auto;
}

.EventTable {
    display: flex;
    max-height: 23rem;
}

.EventTable ::-webkit-scrollbar-track {
    border-radius: 9.375rem;
}

.EventTable ::-webkit-scrollbar-thumb {
    background: #828282;
    border-radius: 0.25rem;
}

.EventTable ::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.EventTable {
    overflow-x: auto;
    overflow-y: auto;
}

.TableContainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.FeaturesTable {
    display: flex;
    align-self: start;
    padding: 0 1rem;
}

.ParkComments {
    max-height: 19rem;
    width: 90%;
    display: flex;
}

.ParkCommentHistory ::-webkit-scrollbar-track {
    border-radius: 9.375rem;
}

.ParkCommentHistory ::-webkit-scrollbar-thumb {
    background: #828282;
    border-radius: 0.25rem;
}

.ParkCommentHistory ::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.ParkCommentHistory {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 10rem
}

.Ratings {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.no-events{
    align-items: center;
    justify-content: center;
}

.ModalParkDetail-ratings{
    padding-top: 5%;
}

.Ratings > button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    background: none;
    outline: none;
}

.rated {
    color: gold;
}

.Ratings:hover > button {
    color: black;
}

.Ratings:hover > button:hover,
.Ratings:hover > button:hover ~ button {
    font-size: 2rem;
    color: gold
}

.star {
    font-size: 2rem;
}

.tr {
    padding: 0.5rem;
}

.ModalParkDetail-tabName {
    white-space: nowrap;
}

.individual-comment {
    text-align: left;
    display: block;
    border-style: solid;
    background: white;
    border-width: 2px;
    border-radius: 5px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 0.5rem 4rem;
}

.header-text {
    white-space: nowrap;
}

.facility {
    height: 5rem;
}

.header-text-label {
    width: 20rem;
}

.EventForm {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 556px) {

    .ModalParkDetail-facilities-and-features {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .ModalParkDetail-leftToolbar {
        padding-left: 0.2rem;
        height: 100%;
    }

    .ModalParkDetail-tabName {
        font-size: 0.55rem;
        white-space: nowrap;
    }

    .FilledHeartIcon {
        height: 0.9rem;
        width: 0.9rem;
    }

    .NotFillHeartIcon {
        height: 0.9rem;
        width: 0.9rem;
    }

    .ModalParkDetail-Body {
        padding: 0rem;
        font-size: 0.8rem;
    }

    .EventTable {
        width: 95%;
    }

    .Column {
        margin: 0rem 0rem;
        justify-content: center;
    }

    .FacilitiesTable {
        margin-right: 1rem;
    }

    .FeaturesTable {
        margin-left: 0;
    }

    .ParkCommentForm {
        margin-left: 0;
    }
    .AddEventForm {
        transform: scale(0.7, 0.7);
    }
    .ModalParkDetail-FacilitiesTable{
    font-size: 0.6rem;
    }
    .ModalParkDetail-Body{
        transform: scale(0.8, 0.8);
    }

 }



@media only screen and (min-width: 554px) {
    
    .ModalParkDetail-FacilitiesTable{
        font-size: 1rem;
    }

    .ModalParkDetail-Body {
        font-size: 1rem;
    }

    .ModalParkDetail-leftToolbar {
        padding-left: 0.5rem;
        height: 100%;
    }

    .ModalParkDetail-tabName {
        font-size: 0.85rem;
        white-space: nowrap;
    }

    .EventTable {
        width: 98%;
    }

    .FilledHeartIcon {
        height: 0.9rem;
        width: 0.9rem;
    }

    .NotFillHeartIcon {
        height: 0.9rem;
        width: 0.9rem;
    }

    .FeaturesTable {
        margin-left: 0;
    }

    .Column {
        margin: 0rem 1rem;
    }

    .AddEventForm {
        transform: scale(0.85, 0.85);
        margin-right: 2rem;
    }

    .ModalParkDetail-tabSelector{
        margin-right: 1rem;
    }
    .ModalParkDetail-toolbar{
        transform: scale(0.7, 0.7);
    }
    .ModalParkDetail-leftToolbar{
        margin-left: -3.5rem;
    }
    .ModalParkDetail-Body{
        transform: scale(0.75, 0.75);
    }
}

@media only screen and (min-width: 610px){
    .ModalParkDetail-Body{
        transform: scale(0.8, 0.8);
    }
    .ModalParkDetail-toolbar{
        transform: scale(0.8, 0.8);
    }
    .ModalParkDetail-leftToolbar{
        margin-left: -3rem;
    }

}

@media only screen and (min-width: 830px) {
    .ModalParkDetail-toolbar{
        transform: scale(1, 1);
    }
    .ModalParkDetail-leftToolbar{
        margin-left: 0rem;
    }

}

