.detailed-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ModalEventDetail-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ModalEventDetail-Title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    font-size: 1.25rem;
    width: 100%;
    padding-bottom: 0.5rem;
    padding-left: 4rem;
}

.ModalEventDetail-divider {
    width: 98%;
    height: 1px;
    background-color: #bfbfbf;
}

.ModalEventDetail-toolbar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 2.5rem;
}

.ModalEventDetail-leftToolbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 2.5rem;
    margin-bottom: 2px;
    height: 100%;
}

.ModalEventDetail-tabSelector {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
}

.tab-selected {
    border-bottom: 2px solid #3b5238;
}


.ModalEventDetail-rightToolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2.5rem;
    height: 100%;
}

.ModalEventDetail-actionButton {
    border: none;
    font: inherit;
    padding: 0.3rem;
    margin: 0 1rem;
    cursor: pointer;
}

.ModalEventDetail-Body {
    width: 100%;
    min-height: 13rem;
    padding-left: 2.5rem;
    padding-top: 1rem;
}

.ModalEventDetail-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ModalEventDetail-description-section {
    padding: 0.5rem 0;
}
